body,
html {
    padding: 0;
    margin: 0;
    background: #333;
    width: 100%;
    height: 100%;
    .ui.grid {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .chat {
        background: #0e1319;
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
        width: 300px;
        .header {
            margin: 0 !important;
            color: #eee;
            background: #0a0e11;
            position: relative;
            width: 100%;
            font-size: 15px;
            padding: 10px;
            text-align: center;
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 2px solid #bc5652;
            z-index: 20;
        }
        .chat-container {
            z-index: 10;
            position: relative;
            width: 100%;
            .mobile-alert {
                width: 100%;
                background: #2f1c25;
                border-right: 5px solid #ed506a;
                padding: 3px;
                p {
                    font-family: Montserrat, sans-serif;
                    color: #eee;
                    text-align: center;
                }
            }
            .fade-area {
                background: linear-gradient(to top, transparent, rgba(0, 0, 0, 1));
                position: absolute;
                top: 0;
                left: 0;
                height: 60px;
                width: 100%;
                z-index: 99;
            }
            .messages {
                position: relative;
                height: 400px;
                transition: height .5s ease;
                overflow-x: hidden;
                .chat-message {
                    padding: 5px;
                    word-break: break-word;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    img.pp {
                        padding: 4px;
                        width: 40px;
                        float: left;
                        align-self: center;
                        border-radius: 50%;
                    }
                    div.data {
                        padding: 5px;
                        float: left;
                        color: #eee;
                        font-family: Montserrat, sans-serif;
                        .name {
                            font-family: Montserrat, sans-serif;
                            font-weight: 700;
                            text-decoration: none;
                            color: #eee;
                            cursor: pointer;
                        }
                        div.flair {
                            display: inline-block;
                            border-radius: 10px;
                            padding: 0 5px;
                        }
                        .name.rank-0 {
                            color: #bc5652;
                        }
                        .name.rank-1 {
                            color: #5790F4;
                        }
                        .name.rank-2 {
                            color: #2BC17B;
                        }
                        .name.rank-3 {
                            color: #A567FF;
                        }
                        .flair.rank-1 {
                            color: #FFF;
                            box-shadow: 0 0 0 1px #5790F4 inset!important;
                            background: #5790F4;
                        }
                        .flair.rank-2 {
                            color: #FFF;
                            box-shadow: 0 0 0 1px #2BC17B inset!important;
                            background: #2BC17B;
                        }
                        .flair.rank-3 {
                            color: #FFF;
                            box-shadow: 0 0 0 1px #A567FF inset!important;
                            background: #A567FF;
                        }
                    }
                }
                .chat-message.odd {
                    background: #0d1116;
                }
                .chat-message.even {
                    background: #0d1116;
                }
            }
            .chat-input {
                background: #0a0e11;
                height: 32px;
                position: absolute;
                width: 100%;
                bottom: 0;
                border-top: 2px solid #bc5652;
                margin-bottom: -32px;
                input {
                    background: 0;
                    border: 0;
                    height: 32px;
                    font-size: 14px;
                    width: 100%;
                    padding: 0 5px;
                    color: #eee;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: #BC5652;
    }
    ::-webkit-scrollbar-track {
        background-color: #6e2d2b;
    }
}


/**
 *    Mixins
 */

.navi-color-diamond-blue {
    color: #5790F4
}

.navi-color-real-purple {
    color: #A567FF
}

.navi-color-lime {
    color: #2BC17B;
}

.navi-color-blue {
    color: #23b7e5;
}

.navi-color-orange {
    color: #e69b23;
}

.navi-color-yellow {
    color: #DAD823;
}

.navi-color-gold {
    color: gold;
}

.navi-color-green {
    color: #1EA649;
}

.navi-color-red {
    color: #bc5652;
}

.navi-color-light-green {
    color: #5FAE63;
}

.navi-color-purple {
    color: #d461a8;
}

.navi-color-dark-red {
    color: #ba4127;
}

@media screen and (max-width: 420px) {
    .sidebar {
        width: 100%!important
    }
}
